{{ if .listcard | default "true" }}
<div class="grid sm:grid-cols-2 lg:hextra-cards grid-cols-1 mt-4 gap-4 w-full not-prose" style="--rows: 2;">
{{- with $items := union .context.RegularPages .context.Sections -}}
  {{- $items = where $items "Params.sidebar.exclude" "!=" true -}}
    {{- range $items.ByWeight }}
      {{- $title := .LinkTitle | default .File.BaseFileName -}}
      <a class="hextra-card group flex flex-col justify-start overflow-hidden rounded-lg border border-gray-200 text-current no-underline dark:shadow-none hover:shadow-gray-100 dark:hover:shadow-none shadow-gray-100 active:shadow-sm active:shadow-gray-200 transition-all duration-200 transition-all duration-200 hover:border-gray-300 bg-transparent shadow-sm dark:border-neutral-800 hover:bg-slate-50 hover:shadow-md dark:hover:border-neutral-700 dark:hover:bg-neutral-900"
          href="{{ .RelPermalink }}"
      >
      <span class="flex font-semibold items-start gap-2 p-4 text-gray-700 hover:text-gray-900 dark:text-neutral-200 dark:hover:text-neutral-50">
        {{- $title -}}
      </span>
    </a>
    {{- end -}}
{{- end }}
</div>
{{ end }}
